<!DOCTYPE html>

<html>
	
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
	<style>
    	</style>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>	
	<style>
	* {
	  box-sizing: border-box;
	}
	</style>
	
<body>

 <div class="topnav">
	 <a href="index.html">About me</a>
	 <a href="talk.html">Talks</a>
	 <a href="publications.html">Publications</a>
	 <a href="teaching.html">Teaching</a>
	 <a href="ME-UFR-CV-SAURETY-Adrien.pdf" target="_blank">CV</a>
</div>

	
<div class="container">
			
  {{ content }}
			
</div><!-- /.container -->


  
</body>
</html>
